<h1>New Article</h1>

<%# https://guides.rubyonrails.org/getting_started.html#using-partials-to-clean-up-duplication-in-views %>
<%= render 'form' %>

<%# https://guides.rubyonrails.org/getting_started.html#adding-links %>
<%= link_to 'Back', articles_path %>